
 .Checkbox {
   display: flex;
   align-items: center;
 }
//   &.CheckboxDisabled {
//     .CheckboxRoot {
//       &[aria-checked='true'] {
//         background-color: var(--color-dark-100);
//         border-color: var(--color-dark-100);
//       }
//     }

//     .CheckboxRoot {
//       cursor: auto;
//       border-color: var(--color-dark-100);

//       &:hover {
//         &::before {
//           background-color: transparent;
//         }
//       }
//     }

//     .CheckboxLabel {
//       cursor: auto;
//       color: var(--color-dark-100);
//     }

//     svg {
//       fill: var(--color-light-700);
//     }
//   }
// }

.CheckboxRoot {
  cursor: pointer;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 18px;
  height: 18px;

  background-color: transparent;
  border: 2px solid var(--color-light-900);
  border-radius: 3px;
  outline: none;

  transition: all 0.3s;

  &::before {
    pointer-events: none;
    content: '';

    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 36px;
    height: 36px;

    background-color: transparent;
    border-radius: 50%;

    transition: all 0.3s;
  }

  &:hover {
    &::before {
      background-color: var(--color-dark-500);
    }
  }

  &:focus {
    &::before {
      background-color: var(--color-dark-100);
    }
  }

  &:active {
    &::before {
      background-color: var(--color-dark-100);
    }
  }

  &[aria-checked='true'] {
    background-color: var(--color-light-100);
    border-color: var(--color-light-100);
  }

  > span {
    width: 18px;
    height: 18px;
  }
}

.CheckboxLabel {
  cursor: pointer;
  margin-left: 11px;
}
