.paginationButton,
.navigationButton,
.ellipsis {
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 24px;
  height: 24px;
  margin: 0 6px;

  color: white;

  background-color: black;
  border: none;
}

.activePageButton {
  color: black;
  background-color: white;
  border-radius: 2px;
}

.paginationButton:hover,
.navigationButton:hover {
  background-color: gray;
}

.paginationButton:active:not(:disabled),
.paginationButton:focus:not(:disabled),
.navigationButton:active {
  color: black;
  background-color: white;
  border-radius: 2px;
  outline: none;
}

.navigationButton:disabled {
  cursor: not-allowed;
  color: grey;
  background: transparent;
}

.WrapperParinated {
  display: flex;
  align-items: center;
  justify-content: center;
}

.WrapperDiv {
  display: flex;
}
