.PaginationWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  
    padding-top: 64px;
    padding-bottom: 168px;
}

.Wrapper {
    margin-top: 20px;
}

.FilterWrapper{
    padding-bottom: 36px;
}